body {
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    color: #888888;
    padding-top: 50px;
}
h1,h2,h3 {
    color: #2196F3;
}
h1 {
    text-align: center;
    font-size: 50px;
    padding: 30px 0;
    text-transform: uppercase;
}
.navbar-default {
    border-bottom: 0px;
}
.navbar-default img {
    height: 60px;
    width: 60px;
    float: left;
}
.navbar-brand{
    padding: 2px;   
    display: inline;
}
.navbar-brand span{
    padding: 20px 0;
    float: right;
    color: #2196F3;
}
.navbar-default .navbar-nav li a:hover {
    transition: background-color 0.5s ease-in;
    border-bottom: 2px solid #2196F3;
}
.navbar-default .navbar-nav li a:active > li {
    border-bottom: 2px solid #2196F3;
}
.carousel-control.left,
.carousel-control.right {
    background-image: none;
}
.carousel-control span {
    color: #2196F3;
}
.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.carousel-caption img {
    width: 200px;
    height: 200px;
}
#vcpitem1 .carousel-caption {
    top: 40%;
    left: 25%;
}
#vcpitem1 .small-caption {
    font-size: 45px;
    color: #000;
    text-shadow: none;
    text-transform: uppercase;
}
#vcpitem1 .change-text {
    font-size: 55px;
    color: #2196F3;
    text-shadow: none;
    text-transform: uppercase;
}
#vcpitem1 .design_box {
    float: right;
    bottom: 0px;
    height: 200px;
    width: 200px;
    background-color: #2196F3;
}
#vcpitem1 .design_box span {
    font-size: 100px;
    padding-top: 50px;
}
section {
    padding-top: 70px;
}
h3 {
    text-transform: uppercase;
}
#aboutus {
    text-align: justify;
    line-height: 22px;
    background-color: #26262c;
    color: #BEC2C3;
    padding-bottom: 70px;
}
#services h1{
    padding-top: 0;
    padding-bottom: 0;
}
/*******************************************
contact section content
*************************************************/
#contact {
    background-image: url('../img/bg-map.png');
}
#contact dt {
    color: #2196F3;
    font-size: 18px;
    float: left;
    width: 120px;
    margin: 0px;
    line-height: 30px;
    text-transform: uppercase;
}
#contact dd {
    font-size: 15px;
    line-height: 30px;
}
#contact .social-link {
    padding: 35px 0;
    margin: 0 0 0 68px;
    display: block;
    overflow: hidden;
    list-style: none;
}
#contact .social-link li {
    float: left;
    margin-right: 8px;
}
#contact .social-link li a {
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    color: #fff;
    background: #2196F3;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}
#contact .social-link li a:hover,
#contact .social-link li a:focus {
    text-decoration: none;
}
#contact .twitter a:hover {
    background: #55acee;
}
#contact .facebook a:hover {
    background: #3b5998;
}
#contact .pinterest a:hover {
    background: #cb2026;
}
#contact .gplus a:hover {
    background: #dd4b39;
}
#contact .dribbble a:hover {
    background: #ea4c89;
}
#contact .drop-us-a-line {
    color: #616161;
}
#contact .drop-us-a-line form {
    width: 540px;
    padding: 60px;
    height: 380px;
    background: url(../img/footer-bg.jpg);
}
#contact .drop-us-a-line form h2 {
    font-size: 24px;
    line-height: 30px;
    -webkit-font-smoothing: antialiased;
}
#contact .drop-us-a-line form label {
    width: 118px;
    float: left;
    line-height: 35px;
}
#contact .drop-us-a-line form input,
#contact .drop-us-a-line form textarea {
    width: 300px;
    height: 30px;
    background: #fff;
    border: 1px solid #73c5e1;
    border-radius: 3px;
    color: #03A9F4;
    font-size: 13px;
    padding: 0 10px;
    margin: 0 0 5px 0;
}
#contact .drop-us-a-line form textarea {
    resize: none;
    height: 70px;
    padding: 10px;
}
#contact .drop-us-a-line form input.submit {
    float: right;
    width: 160px;
    height: 35px;
    background: #fff;
}

/******************************************
footer section
**********************************************/ 
#footer {
    border-top: 2px solid #616161;
    background-image: url('../img/pw_maze_black.png');
    padding: 30px 0px;
}
#footer p {
    text-align: center;
    font-size: 20px;
    color: #fff;
}
#footer p span {
    color: #2196F3;
}
.full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.affix {
    padding:0px;
    -webkit-transition:padding 1s linear;
    -moz-transition:padding 1s linear;  
    -o-transition:padding 1s linear;         
    transition:padding 1s linear;  
    animation-name: clrchangeprim;    
    animation-duration: 1s;
    box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);
}

.affix-top {
    padding: 10px 0px;
    background-color: #fff ;
    -webkit-transition:padding 1s linear;
    -moz-transition:padding 1s linear;  
    -o-transition:padding 1s linear;         
    transition:padding 1s linear;  
    animation-name: clrchangeprimrev;    
    animation-duration: 1s;
}
@keyframes clrchangeprim {
    from {
        background-color: transparent;
        box-shadow: 0;
    }
    to {
        background-color: #f8f8f8;
        box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);
    }
}
@keyframes clrchangeprimrev {
    from {
        background-color: #f8f8f8;
        box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);
    }
    to {
        background-color: transparent;
        box-shadow: 0;
    }
}
@keyframes blinking {
    0%    { opacity: 0; }
    50%   { opacity: 0; }
    51%   { opacity: 1; }
    100%  { opacity: 1; }
}
.change-text:after {
    content: '_';
    animation: blinking 1.2s infinite;
}
/************************
services
**************************/
#client {
    background-color: #fff;
    display: inline;
    float: left;
    padding: 70px 0 55px;
    width: 100%;
}
.client-area{
    display: inline;
    float: left;
    width: 100%;
    text-align: center;
}
.client-table {
    display: inline-block;
    margin-bottom: 0;
    text-align: left;
    width: 100%;
}
.client-table li {
    display: inline-block;
    margin-right: 180px;
}
.client-table img{
    max-height: 50px;
    max-width: 180px;
}
.client-table li:last-child{
    margin-right: 0px;
}
.tile1-wrap {
    position: absolute;
    width: 660px;
    height: 440px;
    margin: 0;
    box-shadow: 0px 0px 10px 4px rgba(241, 241, 241, 0.59);
    background: #26262c;
}
.tile1 {
    position: absolute;
    top: 0;
    width: 220px;
    height: 220px;
    background: #26262c;
    /*border: 1px solid #F1F1F1;*/
    list-style: none;
    text-align: center;
    -webkit-transition: .3s;
    transition: .3s;
    z-index: 0;
}

.tile1:nth-of-type(1),
.tile1:nth-of-type(4) {
    left: 0;
}

.tile1:nth-of-type(2),
.tile1:nth-of-type(5) {
    left: 220px;
}

.tile1:nth-of-type(3),
.tile1:nth-of-type(6) {
    left: 440px;
}

.tile1:nth-of-type(4),
.tile1:nth-of-type(5),
.tile1:nth-of-type(6) {
    top: 220px;
}

.tile1__inner {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 30px 5px;
    text-decoration: none;
    color: #BEC2C3;
}

.tile1:hover {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 0px 0px 40px 1px rgba(241, 241, 241, 0.48);
    z-index: 10;
}
#design p,#development p,#marketing p{
    text-align: justify;
}
#design section,#development section,#marketing section{
    padding-top: 40px;
    padding-bottom: 0px;
}
#footer p{
    text-align: center;
}